@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Roboto', serif;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  background:#1B2030 url(../Img/Background/backg3.jpg) top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}

#whoami {
  text-align: left;
  margin-bottom: 1%;
}

#pres-text {
  font-size: 19px;
}

.gallery {
  margin: 10px 50px;
  text-align: center;
}

.gallery img {
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
/*
.sides {
  min-width: 100%;
}


.logo {
  text-align: right;
  min-width: 100%;
}

#logo_img {
  width: 100px;
  height: 100px;
  margin-top: -80%;
}

.MyWork{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  margin:20px;
  margin-top: 1%;
  margin-left: 2%;
  padding:5px 10px;
  font-weight: 600px;
  font-size:1.2em;
  box-sizing:border-box
}

.MySelf {
  float: right;
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline;
  margin:20px;
  margin-top: -2.7%;
  margin-right: 2%;
  padding:5px 10px;
  font-weight: 600px;
  font-size:1.2em;
  box-sizing:border-box
}
*/
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
  margin-bottom: 4.1%;
}

.moh_img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.moh_contain {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.moh_link {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.info h4, .meta{
  font-size:0.7em
}

.meta{
  font-style:italic;
  min-width: 100%;
  min-height: 100%;
}

@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}

.content{  
  padding:5% 10%;
  text-align:justify
}

.btn_home {
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600;
}

.content {
  margin-bottom: 4.3%;
} 

.contact {
  background: #262525;
  text-align: center;
}

.contact div {
  min-width: 100%;
  text-align: center;
}

.contact-titre {
  color: white;
  font-size: 30px;
}

#fb {
  margin-left: 10%;
  margin-right: 10%;
}

.contact img {
  margin-top: 5%;
}

.contact p {
  color: white;
  margin-top: 5%;
  font-size: 14px;
}

h2 {
  margin-top: -4%;
}

.bar_skill {
  width: 100%; 
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.skills_titre {
  margin-bottom: 1.5%;
}

.photo {
  width: 90%; background-color: #04AA6D;
}

.light {
  width: 80%; background-color: #f44336;
}

.pics {
  width: 79%; background-color: #808080 /*#34b1eb*/;
}

.skills_titre {
  margin-top: 4%;
}

#skills {
  font-size: 30px;
  margin-bottom: 3%;
  margin-top: 4%;
}

#menu {
  background: #262525;
  color: #FFF;
  height: px;
  padding-left: 18px;
  border-radius: 0px;
  width: 100%; 
}
#menu ul, #menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none
}
#menu ul {
  width: 100%;
}
#menu li {
  float: left;
  display: inline;
  position: relative;
}
#menu a {
  display: block;
  line-height: 43px;
  padding: 0 14px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  color: #c0cfc2;
  background: #615858;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 43px;
  width: 100%;
  opacity: 0;
  cursor: pointer
}
#menu label {
  display: none;
  line-height: 43px;
  text-align: center;
  position: absolute;
  left: 35px
}
#menu label:before {
  font-size: 1.6em;
  content: "\2261"; 
  margin-left: 20px;
}
#menu ul.sub-menus{
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #FFFFFF;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block
}
#menu ul.sub-menus a:hover{
  background: #F2F2F2;
  color: #444444;
}

@media screen and (max-width: 800px){
  #menu {position:relative}
  #menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
  #menu ul.sub-menus {width:100%;position:static;}
  #menu ul.sub-menus a {padding-left:30px;}
  #menu li {display:block;float:none;width:auto;}
  #menu input, #menu label {position:absolute;top:0;left:0;display:block}
  #menu input {z-index:4}
  #menu input:checked + label {color:white}
  #menu input:checked + label:before {content:"\00d7"}
  #menu input:checked ~ ul {display:block}

}


@media screen and (max-width: 375px){
  .gallery img {
    width: 100px;
    height: 100px;
  }

  .contact img {
    width: 50px;
    height: 50px;
  }

  /*
  .contact p {
    margin-top: 15%;
  }*/
}

* { 
  margin: 0px;
  padding: 0px;
}